*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(39, 32, 32);
    height: 150px;
}
.container{
    height: auto;
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.icon{
    text-align: center;
    margin-top: 6px;
    color: aliceblue;
}
.icon1{
    float: left;
    margin-left: 400px;
}
.icon1 a{
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.icon2{
    float: left;
    margin-left: 20px;
}
.icon2 a{
    margin-left: 10px;
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.logo h1{
    color: rgb(95, 247, 95);
    float: left;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    margin-top: 15px;
}
.search{
    margin-left: 300px;
    margin-top: 20px;
}
.searchbar{
    height: 40px;
    width: 450px;
}
::placeholder{
    font-size: 16px;
}
.searchbtn{
    height: 43px;
    width: 60px;
    border-right: none;
    position: relative;
    left: -5px;
    cursor: pointer;
    background-color: rgb(95, 247, 95);
    border: none;
}
.pc{
    background-color: orange;
    width: 170px;
    height: 30px;
    float: right;
    overflow: auto;
    margin-top: -35px;
    margin-right: 60px;
}
.pc h2{
    margin: 2px;
    margin-left: 8px;
    /* border-radius: 5px solid red; */
}
.manubar li{
    float: left;
    margin-top: 22px;
    margin-right: 22px;
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
.manubar li a{
    color: azure;
    text-decoration: none;
    transition: 0.10s;
}
.banner img{
    height: 420px;
    width: 100%;
}
.col h1{
    margin-top: 30px;
    width: 180px;
    height: 40px;
    background-color: black;
    color: white;
    padding-left: 15px;
    border-top-right-radius: 500px;
}
.underline{
    border-bottom: 3px solid black;
    margin-bottom: 22px;
}
.colImg{
    float: left;
    margin-bottom: 60px;
}
.colImg p{
    margin-top: 10px;
}
.colImg .tag{
    margin-top: 6px;
    margin-bottom: 35px;
}
.img1{
    float: left;
    height: 330px;
    background-color: white;
}
.img1 img:hover{
    width: 200px;
}
.colImg h3, h4{
    text-align: center;
    font-size: 17px;
}
.img1 img{
    width: 193px;
    cursor: pointer;
}
.img2{
    float: left;
}
.img2 img{
    width: 193px;
    cursor: pointer;
}
.img3{
    float: left;
}
.img3 img{
    width: 193px;
    cursor: pointer;
}
.img4{
    float: left;
}
.img4 img{
    width: 193px;
    cursor: pointer;
}
.img5{
    float: left;
}
.img5 img{
    width: 193px;
    cursor: pointer;
}
.img6{
    float: left;
}
.img6 img{
    width: 193px;
    cursor: pointer;
}
.midBody{
    background-color: rgba(248, 247, 245, 0.877);
}


/* ItemPic start */

.itemPic img{
    width: 50px;
    height: 40px;
    margin-bottom: 15px;
    background-color: transparent;
    border: 1px solid rgb(243, 237, 237);
    padding: 10px 32px 10px 32px;
}

/* details start  */

.details{
    background-color: rgb(232, 239, 243);
    margin: 40px 0px;
}
.headline h4{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 16px;
}
.headline p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 3px;
    padding-bottom: 8px;
}